.bg-container {
  background-color: #223a5f;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
}

.heading-container {
  display: flex;
  flex-direction: column;
}

.game-button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  height: 80px;
  justify-content: center;
}

.score-heading {
  font-family: 'Bree Serif';
  color: #223a5f;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.heading {
  color: white;
  font-family: 'Roboto';
  font-size: 25px;
}

.score {
  font-family: 'Roboto';
  color: #223a5f;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.list-container {
  list-style-type: none;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.image {
  width: 150px;
  height: 150px;
}

.close-btn {
  background-color: transparent;
  border: 0px;
  align-self: flex-end;
  margin-bottom: 30px;
  font-size: 30px;
  cursor: pointer;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.choice-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

@media screen and (max-width: 576px) {
  .choice-container {
    width: 80%;
  }

  .list-container {
    width: 100%;
    padding: 0;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .navbar-container {
    width: 90%;
  }
}

.mychoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-btn {
  height: 40px;
  width: 130px;
  color: #223a5f;
  font-family: 'Roboto';
  background-color: white;
  border: 0px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.rules-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: white;
  height: 600px;
}

.rules-image {
  width: 100%;
  height: 100%;
}

.listitem {
  margin: 20px;
}

.rock-heading {
  margin: 0px;
  padding: 0px;
  font-family: 'Bree Serif';
  color: white;
  font-size: 20px;
}

.rules-btn {
  background-color: white;
  color: #223a5f;
  height: 30px;
  width: 70px;
  border: 0px;
  border-radius: 5px;
  font-family: 'Bree Serif';
  align-self: flex-end;
  margin-top: 50px;
  cursor: pointer;
}

.popup-container {
  align-self: flex-end;
}
